<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Data Management Plan</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-blue.min.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
	<div id="app">
		<header>
			<h1>{{title}}</h1>
			<h2>Data Management Plan <small>({{version}})</small></h2>
		</header>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset authors">
				<div v-for="author in authors" class="author">
					<div>{{author.name}}</div>
					<div><a v-bind:href="author.email">{{author.emailDisplay}}</a></div>
					<div><small>{{author.orcid}}</small></div>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset description">
				<h3 style="text-align: center;">Summary</h3>
				<p>{{description}}</p>
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset">
				<h3 style="text-align: center;">Data Object Bundle</h3>
                <p style="text-align: center;">This section provides an overview of all the data artifacts used in the experiment.</p>
				<div class="mdl-tabs mdl-js-tabs">
					<div class="mdl-tabs__tab-bar">
						<a href="#overview-panel" class="mdl-tabs__tab is-active">Overview</a>
						<a href="#preservation-panel" class="mdl-tabs__tab">Preservation</a>
						<a href="#sharing-panel" class="mdl-tabs__tab">Sharing</a>
						<a href="#documentation-panel" class="mdl-tabs__tab">Documentation</a>
					</div>
					<div class="mdl-tabs__panel is-active" id="overview-panel">
						<table class="overview-table">
							<tbody>
								<tr v-for="o in overview">
									<td width="15%">{{o.name}}</td>
									<td v-html="o.value"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="mdl-tabs__panel" id="preservation-panel">
						<div class="description">
							<div>{{preservation}}</div>
						</div>
					</div>
					<div class="mdl-tabs__panel" id="sharing-panel">
						<div class="description">
							<div>{{sharing}}</div>
						</div>
					</div>
					<div class="mdl-tabs__panel" id="documentation-panel">
						<div class="description">
							<div>{{documentation}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--12-col">
				<h3 style="text-align: center;">Raw Data Objects</h3>
                <p style="text-align: center;">This section provides the raw content of the linked project metadata description, concerning the data objects in the data bundle.</p>
            </div>
			<div v-for="obj in objects" class="mdl-cell mdl-cell--4-col">
				<div class="mdl-card">
					<h4><i v-bind:class="classObject(obj)"></i>{{obj.name}}</h4>
					<pre><code class="language-javascript">{{obj.json}}</code></pre>
				</div>
			</div>
		</div>
		<footer>
			{{date}}
		</footer>
	</div>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsonld/0.3.15/jsonld.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>
	<script src="main.js"></script>
</body>

</html>
