h1 {
	font-size: 2.6em;
	margin: 10px;
}

h2 {
	font-size: 2.0em;
	margin: 10px;
}

h3 {
	font-size: 1.6em;
    margin: 0px;
}

h4 {
	font-size: 1.5em;
    margin: 0px;
}

header, footer {
    width: 70vw;
	margin-top: 40px;
	margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
	font-weight: 100;
	text-align: center;
}

.mdl-grid {
	width: 80vw;
}

.mdl-card {
	width: 100%;
    padding: 0px 40px;
}

.mdl-tabs {
    height: 28vh;
}

.overview-table {
    margin: 0 auto;
    padding: 20px;
}

pre {
    font-size: 10px;
    background-color: #546E7A;
    color: #ECEFF1;
    overflow-x: scroll;
    padding: 15px;
    border-radius: 4px;
    height: 350px;
}

.authors {
	text-align: center;
}

.author {
	margin: 5px 40px;
	display: inline-block;
}

.description {
	text-align: justify;
    padding-top: 20px;
}

.icon {
    margin-right: 8px;
}

.info .material-icons {
    color: grey;
    font-size: 0.7em;
    position: relative;
    top:1px;
}

.mdl-button {
    border: solid;
    border-radius: 3px;
    border-width: thin;
}
